<% provide(:title, "About") %>
<div class="container content">
  <h1>About Meglish</h1>
  <p>We created Meglish to help those studying English to enhance their English skills online. Our classes concentrate on high-quality objectives, such as improving grammar and pronunciation, and expanding vocabulary and conversational techniques.</p>
  <div class="row">
    <div class="col-md-6">
      <h2> Meaghan</h2>
    </div>
    <div class="col-md-6">
      <p> Meaghan is wonderful </p>

    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <h2> Megan </h2>
    </div>
    <div class="col-md-6">
      <p>Megan is currently living in China. </p>
    </div>
  </div>


  <%= link_to "Back", :back %>
</div>
