<% provide(:title, "New Course") %>
<div class="container content">
  <span id= "add_category"><%= link_to "add category", new_category_path(@category), class: "btn btn-primary", remote: true %></span>

  <%= render "form" %>
</div>
