@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "hero";

$dark-green: #173527;
$exciting-green: #33FFBD;
$dark-greenish: #4A7023;
$medium-green: #13735E;
$light-green: #72B497;
$grey-green: #B4B9AC;
$neon-green: #DBD253;

h1 {
  color: $dark-greenish;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: $dark-greenish;
  font-family: 'Abril Fatface', cursive;
}


p {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: $exciting-green;
  border-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.btn-primary:hover {
  background: $neon-green;
  border: 0px solid transparent;
}

/* header styling */


html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom:400px; /* Height of the footer element */
}

img.gif {
  width: 50%;
  border-radius: 200px;
}

#map label {
  width: auto; display:inline;
}

.map-container {
  margin-bottom: 200em;
}

.card-image {
  width: 100%;
}

.card{
  padding: 2%;
}

.center-button {
  text-align: center;
}

.lato-type {
  font-family: 'Lato', sans-serif;
}

h1.big-title {
  font-size: 6.3em;
}

/*contact form*/

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
