@import "bootstrap-sprockets";
@import "bootstrap";
$dark-green: #173527;
$exciting-green: #33FFBD;
$dark-greenish: #4A7023;
$medium-green: #13735E;
$light-green: #72B497;
$grey-green: #B4B9AC;
$neon-green: #DBD253;

h1, h2 {
  color: $dark-greenish;
  font-family: 'Abril Fatface', cursive;
}


p {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: $exciting-green;
  border-color: white;
  margin-top: 20px;
  border-radius: 5px;
}
.btn-primary:hover {
  background: $neon-green;
  border: 0px solid transparent;
}

/* header styling */
.room-for-header {
  padding-top: 500px;
}
.hero-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  position:absolute;
  margin-bottom:200px;
  background:url(https://hd.unsplash.com/photo-1468779036391-52341f60b55d) no-repeat center center;
  background-size:cover;
    h1 {
      margin-top: 0;
      color: $medium-green;
      font-size: 3.5em;
      padding-left: 100px;
    }

  @media (min-width:641px) and (max-width:1024px) {
    background:url(https://hd.unsplash.com/photo-1468779036391-52341f60b55d) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1025px) and (max-width:1500px) {
    background:url(https://hd.unsplash.com/photo-1468779036391-52341f60b55d) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1501px){
    background:url(https://hd.unsplash.com/photo-1468779036391-52341f60b55d) no-repeat center center;
    background-size:cover;
  }


}

.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

/* footer styling */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom:400px; /* Height of the footer element */
}

.footer-basic-centered{
	background-color: $dark-green;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
  position: absolute;
  bottom:0;
	left:0;

}

.footer-basic-centered .footer-company-motto{
	color:  $grey-green;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 20px;
}
.card-deck .card {
  display: block;
  flex-basis: 33.3%; /* change this value for each breakpoint*/
  width: 100%;
}
.center-title{
  text-align: center;
}

.center-button{
    display: block;
    margin: 0 auto;
}
