<div class="container content">
  <h1>About Meglish</h1>
  <p>We created Meglish to help those studying English to enhance their English skills online. Our classes concentrate on high-quality objectives, such as improving grammar and pronunciation, and expanding vocabulary and conversational techniques.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-block center">
        <h2>About Meaghan</h2>
        <h4>Certifications</h4>
        <p>Teaching English as a Second Language (USA)</p>
        <h4>Education</h4>
        <p>University of California, Berkeley (USA), B.A.</p>
        <p>Eidgenossische Technische Hochschule Zurich (Switzerland), M.A.</p>
        <h4>Professional Experience</h4>
        <p>Online Teacher (Skype, Whatsapp)</p>
        <p>Business English Teacher (Chile, Brazil)</p>
        <p>English Teacher with Callan Method (Brazil)</p>
        <p>1st grade English teacher at public school (Chile)</p>
        <p>Counselor for English Camp for Teens (Chile)</p>
        <p>Proofreader for PhD and Master theses(Switzerland)</p>
        <p>English tutor for university students (USA)</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-block">
      <br>
      <br>
        <%= image_tag("meaghan.gif", :alt => "meaghan in Brazil", :class => "gif") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-block">
        <br>
        <br>
        <%= image_tag("meg_and_llama.jpg", :alt => "Megan with a llama", :class => "gif") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-block">
        <h2>About Megan </h2>
        <h4>Certifications</h4>
        <p>Teaching English as a Second Language (USA)</p>
        <h4>Education</h4>
        <p>Ohio Univerity (USA), B.A.</p>
        <h4>Professional Experience</h4>
        <p>Online Teacher (Skype, Whatsapp)</p>
        <p>Business English Teacher (Chile, China)</p>
        <p>English Teacher for Children (Chile, China)</p>
        <p>English tutor for university students (USA)</p>
      </div>
    </div>
  </div>
<br>
<br>
<div class="container text-center">
  <h1>Where in the World are Meglish students from?</h1>
  <div class="row">
      <div class="col-xs-12">
        <div id="map" style='width: 100%; height: 400px;'>
        </div>
      </div>
    </div>
</div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
</div>
